<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="styles.css">


</head>

<body>
<ul class="slides">
    <input type="radio" name="radio-btn" id="img-1" checked />
    <li class="slide-container">
		<div class="slide slide1">

       <div class="headline">
        <h1>US Creative Team </h1>
      <p><span class="text">We're a group of fresh-eyed designers and word-whizzes, working for you.</span></p>
      </div>
       <video class="video" src="cover-video.mp4" muted loop autoplay style="width:1400px;height: auto !important;"></video>
    </div>
		<div class="nav">
			<label for="img-6" class="prev">&#x2039;</label>
			<label for="img-2" class="next">&#x203a;</label>
		</div>
    </li>

<!-- End slide 1 -->

    <input type="radio" name="radio-btn" id="img-2" />
    <li class="slide-container">
        <div class="slide slide2">
          <div class="headline">
            <h2>As digital storytellers, we bring XxX's strategic brand, marketing missions and sales objectives to life.</h2></div>
          <div class="bottom-img"><img src="gif-animation.gif" width="600" height="auto" style="max-width:100%; height:auto;" /></div>
          
        </div>
		<div class="nav">
			<label for="img-1" class="prev">&#x2039;</label>
			<label for="img-3" class="next">&#x203a;</label>
		</div>
    </li>

<!-- End slide 2 -->


<!-- SLIDE 3 -->
        <input type="radio" name="radio-btn" id="img-3" />
    <li class="slide-container">
        <div class="slide slide3">

          <div class="text-top-right">
            <p>In turn, our work wins you work.</p>
          </div>
          <div class="text-top-left">
            <img src="oval.png" width="150" height="150" style="max-width: 100%; height:auto;" />
          </div> 

        </div>


    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-4" class="next">&#x203a;</label>
    </div>
    </li>

<!-- End slide 3 -->


<!-- SLIDE 4 -->
        <input type="radio" name="radio-btn" id="img-4" />
       <li class="slide-container">
        <div class="slide slide4">
          <div class="text-top-right">
            <p>In turn, our work wins you work.</p>
          </div>

          <div class="text-top-left">
          <img src="oval.png" width="150" height="150" style="max-width: 100%; height:auto;" />
         </div> 

<div style="clear: both;"></div>

          <div class="text-middle-right">
            <p>Helps establish authority</p>
          </div>
          <div class="text-middle-left">
          <img src="oval.png" width="150" height="150" style="max-width: 100%; height:auto;" />
         </div> 
          
        </div>

    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-5" class="next">&#x203a;</label>
    </div>
    </li>


<!-- End slide  -->


<!-- SLIDE 5 -->
        <input type="radio" name="radio-btn" id="img-5" />
       <li class="slide-container">
        <div class="slide slide5">
          <div class="text-top-right">
            <p>In turn, our work wins you work.</p>
          </div>

          <div class="text-top-left">
          <img src="oval.png" width="150" height="150" style="max-width: 100%; height:auto;" />
         </div> 

<div style="clear: both;"></div>

          <div class="text-middle-right">
            <p>Helps establish authority</p>
          </div>
          <div class="text-middle-left">
          <img src="oval.png" width="150" height="150" style="max-width: 100%; height:auto;" />
         </div> 

  <div style="clear: both;"></div>      


      <div class="text-bottom-right">
            <p>Builds trust and loyalty</p>
          </div>
          <div class="text-bottom-left">
          
            <img src="oval.png" width="150" height="150" style="max-width: 100%; height:auto;" />
         
         </div> 

        </div>

    <div class="nav">
      <label for="img-2" class="prev">&#x2039;</label>
      <label for="img-6" class="next">&#x203a;</label>
    </div>
    </li>


<!-- End slide  -->



<!-- SLIDE 6 -->

    <input type="radio" name="radio-btn" id="img-6" />
    <li class="slide-container">
        <div class="slide slide6">
          <video class="" src="cover-video.mp4" muted loop autoplay style="width:400px;height: auto !important;"></video>
          <p>This next-level storytelling transform how we talk about complex tools and topics.</p>
          <p>And makes them relatable.</p>
        </div>
		<div class="nav">
			<label for="img-5" class="prev"> &#x2039; </label>
			<label for="img-7" class="next">&#x203a;</label>
		</div>
    </li>

<!-- End slide  --> 


<!-- SLIDE 7 -->
    <input type="radio" name="radio-btn" id="img-7" />
    <li class="slide-container">
        <div class="slide">
          <img src="http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg" />
          <p>Using every tool in our arsenal, we build excitement.</p>
        </div>
		<div class="nav">
			<label for="img-6" class="prev">&#x2039; </label>
			<label for="img-8" class="next">&#x203a;</label>
		</div>
    </li>


  <!-- End slide  -->  


    <input type="radio" name="radio-btn" id="img-8" />
    <li class="slide-container">
        <div class="slide">
          <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
        </div>
		<div class="nav">
			<label for="img-7" class="prev">&#x2039;</label>
			<label for="img-9" class="next">&#x203a;</label>
		</div>
    </li>


<!-- End slide  -->


    <input type="radio" name="radio-btn" id="img-9" />
    <li class="slide-container">
        <div class="slide">
          <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
        </div>
		<div class="nav">
			<label for="img-8" class="prev">&#x203a;</label>
			<label for="img-1" class="next">&#x203a;</label>
		</div>
    </li>

<!-- End slide  -->


    <li class="nav-dots">
      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
      <label for="img-4" class="nav-dot" id="img-dot-4"></label>
      <label for="img-5" class="nav-dot" id="img-dot-5"></label>
      <label for="img-6" class="nav-dot" id="img-dot-6"></label>
      <label for="img-7" class="nav-dot" id="img-dot-7"></label>
      <label for="img-8" class="nav-dot" id="img-dot-8"></label>
      <label for="img-9" class="nav-dot" id="img-dot-9"></label>
    </li>
</ul>





</body>


</html>
